<html>

<head>

</head>

<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 style="text-align: center;">Lista de Professores</h2>
        </div>
        <br>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!--th style="text-align: center;">id</th -->
                        <th style="text-align: center;">NOME</th>
                        <th style="text-align: center;">CPF</th>
                        <th style="text-align: center;">EMAIL</th>
                        <th style="text-align: center;">DATA DE NASCIMENTO</th>
                        <th style="text-align: center;">IDADE</th>
                        <th style="text-align: center;">SEXO</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let professor of professores | async">
                        <td style="text-align: center;"> {{professor.nome}} </td>
                        <td style="text-align: center;"> {{professor.cpf}} </td>
                        <td style="text-align: center;"> {{professor.email}} </td>
                        <td style="text-align: center;"> {{professor.dataNascimento}} </td>
                        <td style="text-align: center;"> {{professor.idade}} </td>
                        <td style="text-align: center;"> {{professor.sexo}} </td>
                        <td style="text-align: center;">
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br>

            <div class="btn-group">
                <button type="button" (click)="createProfessor()"
                    class="btn btn-info">Novo</button>
            </div>
        </div>
    </div>


</body>

</html>