html,
body,
header,
.view {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
}

#banner 
{
  background-image: linear-gradient(to right, #383434, #000000);
  color: #fff;
  padding-top: 5%
}

.promo-title 
{
  font-size: 40px;
  font-weight: 600;
}

.card {
  background: white;
  padding: 1.5em;
  border-radius: .4em;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);

}


#footer {
  color: #ffffff font;
}


.footer-img {
  width: 100%;
  height: 200px;
}

.footer-box {
  padding: 20px;
}

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7;
  border-radius: 2px;
}

