


<h3>Cadastro de Professor</h3>




<div *ngIf="alertSucess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> O registro foi validado com sucesso.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="alertWarning" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Atenção</strong> Existem campos não validados no seu registro.
    <button type="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="nome" required [(ngModel)]="professor.nome" name="nome"
            formControlname="nome">
    </div>

    <div class="form-group">
        <label for="name">CPF</label>
        <input type="text" class="form-control" id="cpf" required [(ngModel)]="professor.cpf" name="cpf"
            formControlname="cpf">
    </div>

  
    <div class="form-group">
        <label for="name">Data de Nascimento</label>
        <input type="text" class="form-control" placeholder="dd/mm/yyy" id="dataNascimento" 
         required [(ngModel)]="professor.dataNascimento" name="dataNascimento" formControlname="dataNascimento">
    </div>

   

    <div class="form-group">
        <label for="name">Sexo</label>
        <input type="text" class="form-control" id="sexo" required [(ngModel)]="professor.sexo" name="sexo"
            formControlname="sexo">
    </div>

    <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="professor.email" name="email"
            formControlname="email">
    </div>

    <div class="btn-toolbar">
        <button type="button" (click)="voltar()" class="btn btn-info">Voltar</button>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

  
    
</form>



